@page
@model CS395SI_Spring2023_Group1.Pages_Strikes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Spring2026_Group1_Strike</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Spring2026_Group1_Strike.StrikeID" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Spring2026_Group1_Strike.Reason" class="control-label"></label>
                <input asp-for="Spring2026_Group1_Strike.Reason" class="form-control" aria-required="true"/>
                <span asp-validation-for="Spring2026_Group1_Strike.Reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2026_Group1_Strike.FiledDate" class="control-label"></label>
                <input asp-for="Spring2026_Group1_Strike.FiledDate" class="form-control" />
                <span asp-validation-for="Spring2026_Group1_Strike.FiledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2026_Group1_Strike.ReviewStatus" class="control-label"></label>
                <input asp-for="Spring2026_Group1_Strike.ReviewStatus" class="form-control" />
                <span asp-validation-for="Spring2026_Group1_Strike.ReviewStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2026_Group1_Strike.ReviewDate" class="control-label"></label>
                <input asp-for="Spring2026_Group1_Strike.ReviewDate" class="form-control" />
                <span asp-validation-for="Spring2026_Group1_Strike.ReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Spring2026_Group1_Strike.StudentID" class="control-label"></label>
                <input asp-for="Spring2026_Group1_Strike.StudentID" class="form-control" aria-required="true"/>
                <span asp-validation-for="Spring2026_Group1_Strike.StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Spring2026_Group1_Strike.FiledBy" class="control-label"></label>
                <input asp-for="Spring2026_Group1_Strike.FiledBy" class="form-control" aria-required="true"/>
                <span asp-validation-for="Spring2026_Group1_Strike.FiledBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spring2026_Group1_Strike.ManagerID" class="control-label"></label>
                <input asp-for="Spring2026_Group1_Strike.ManagerID" class="form-control" />
                <span asp-validation-for="Spring2026_Group1_Strike.ManagerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

